@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500,700|Poppins:300,400,500,700|Roboto:400,700|Ubuntu:500&display=swap');

$accent: #82f4d3;
$color-text: #888;

*{
	box-sizing: border-box;
}

body{
	max-width: 1600px;
	margin: 0 auto;
}

ul, li{
	list-style: none;
	margin: 0;
}

a{
	text-decoration: none;
}

h1, h2, h3{
	margin: 0;
}

.container{
	width: 1170px;
	height: auto;
	margin: 0 auto;
	display: flex;
	position: relative;
	&__title{
		width: 100%;
		margin-bottom: 50px;
		&__blog{
			width: 100%;
			display: block;
		}
	}
	&_nike__air{
		padding: 100px 0 50px;
	}
	&_popular{
		padding: 25px 0 50px;
		flex-direction: column;
	}
	&_fall{
		padding: 80px 0 195px;
	}
	&_thought{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&_blog{
		padding: 100px 0 0;
		display: block;
	}
	&_footer{
		align-items: flex-start;
		flex-direction: column;
	}
}
.title{
	font-family: 'Cormorant Garamond', Arial, serif;
	font-size: 45px;
	font-weight: 500;
}

.text{
	font-family: 'Poppins', Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.02em;
	line-height: 30px;
	color: $color-text;
}
.more{
	text-decoration: none;
	&__right{
		text-align: right;
	}
}

.btn{
	width: 145px;
	height: 48px;
	background-color: $accent;
	border: none;
	outline-style: none;
	font-family: 'Poppins', Arial, serif;
	font-size: 15px;
	color: #000;
	position: relative;
	transition: background-color 1s ease;
	&:after{
		content: '';
		width: 145px;
		height: 47px;
		background-color: transparent;
		border: 2px solid $accent;
		position: absolute;
		top: -11px;
		left: -11px;
		z-index: -1;
		transition: width 1.5s ease, height 1.5s ease, top 1.5s ease, left 1.5s ease;
	}
	&:hover{
		background-color: #bbb;
		
	}
	&:hover:after{
		width: 100px;
		height: 27px;
		top: 8px;
		left: 8px;
	}
}

header{
	height: 170px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
}

.header__line{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	display: flex;
}
	
.menu{
	display: flex;
	align-items: center;
	justify-content: center;
	.menu_circle{
		width: 15px;
		height: 15px;
		border: 1px solid #000;
		border-radius: 50%;
		background-color: transparent;
		margin: 0 10px;
	}
	&_nav{
		width: 58px;
		height: 58px;
		border-radius: 50%;
		background-color: #000;
		margin: 0 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		outline-style: none;
		&__item{
			content: '';
			background-color: #FFF;
			width: 20px;
			height: 3px;
			margin: 2px auto;
		}
	}
}

.top_product{
	height: calc(100vh - 100px);
	height: 100vh;
	background-image: url(../img/header_bg.jpg);
	background-size: cover;
	background-position: center top;
	padding-top: 100px;
	&  .container{
		height: calc(100vh - 100px);
	}
	&__text{
		font-family: 'Poppins', Arial, serif;
		width: 345px;
		height: 85px;
		font-size: 14px;
		font-weight: 400;
		color: #8f8f8f;
		letter-spacing: 0.05em;
		line-height: 25px;
		transform: rotate(-90deg);
		position: absolute;
		left: -20px;
		bottom: 200px;
	}
}

.head{
	position: relative;
	width: 100%;
	&__title{
		font-family: 'Myriad Pro', 'Arial', serif;
		font-size: 150px;
		letter-spacing: 0.05em;
		font-weight: 700;
		color: #202123;
		margin-top: 100px;
		&__small{
			width: 290px;
			height: 60px;
			position: relative;
			line-height: 60px;
			font-family: 'Myriad Pro', 'Arial', serif;
			font-size: 25px;
			font-weight: 700;
			letter-spacing: 0.05em;
			color: #202123;
			background-color: $accent;
			margin-left: 74px;
			text-align: center;
			&:before{
				content: '';
				width: 290px;
				height: 60px;
				position: absolute;
				top: 11px;
				left: -11px;
				background-color: transparent;
				box-shadow: 0 0 2px 2px rgba(130, 244, 211, 1);
			}
		}
	}
	
	&__img{
		width: auto;
		max-height: calc(100vh - 150px);
		position: absolute;
		bottom: 50px;
		left: 25%;
		// transform: translateY(-30%) translateX(30%);
	}
}

.sprite{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 54px;
	height: 305px;
	position: fixed;
	right: 42px;
	bottom: 63px;
	z-index: 1000;
}
.icon{
	fill: #fff;
	fill-rule: evenodd;
	margin: 0 auto;
	transition: fill 0.5s ease;
}
.soc_icon{
	width: 54px;
	height: 54px;
	background-color: #000;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 1.5s ease, background-color 0.5s ease, border 0.5s ease,;
	&:hover{
		background-color: #fff;
		border: 2px solid $accent;
		transform: rotateY(360deg);
	}
	&:hover .icon{
		fill: $accent;
	}
	svg{
		width: 24px;
		height: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.icon-btn{
	stroke: #181818;
	stroke: red;
	stroke-width: 2;
	fill: none;
}

.nike__air{
	width: 100%;
	position: relative;
	&__img{
		width: 690px;
		height: 585px;
		border: 8px solid #fff;
		background-color: #EEEDED;
		box-shadow: 5px 0 15px 7px rgba(0, 0, 0, 0.1);
		position: relative;
		left: -112px;
		transition: box-shadow 0.5s ease;
		&:hover{
			box-shadow: 5px 0 15px 7px rgba(130, 244, 211, 0.7);
		}
	}
	&__about{
		width: 665px;
		position: absolute;
		right: 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 200px 0 175px;
		&__text{
			padding-right: 50px;
		}
		
	}
}

.popular{
	width: 100%;
	&__items{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	&__item_box{
		position: relative;
	}
	&__text{
		font-family: 'Poppins', Arial, serif;
		font-size: 15px;
		font-weight: 500;
		color: #000;
		margin: 60px 0 25px;
		span{
			font-weight: 400;
			color: #bbb;
			margin-left: 24px;
		}
	}
	&__price{
		font-family: 'Roboto', Arial, serif;
		font-size: 25px;
		color: #999;
	}
	&__img__banner{
		width: 250px;
		height: 305px;
		background-color: rgba(130, 244, 211, 0.87);
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0px;
		border: 10px solid #f1f0f0;
		opacity: 0;
		transition: opacity 1s ease;
		&:hover{
			opacity: 1;
		}
	}
	&__btn{
		background-color: transparent;
		border: 1px solid #fff;
		color: #FFF;
		&:after{
			display: none;
		}
	}
	&__img{
		width: 250px;
		height: 305px;
	}
}

.fall{
	&__about{
		padding-top: 150px;
	}
	&__text{
		padding-right: 150px;
		padding-bottom: 40px;
		text-align: justify;
		word-wrap: break-word;
	}
	&__img{
		width: 485px;
		height: 525px;
		border: 8px solid #FFF;
		background-color: #FFF;
		box-shadow: 5px 0 15px 5px rgba(0, 0, 0, 0.1);
		transition: box-shadow 0.5s ease;
		
		&:after{
			content: '';
			height: 395px;
			width: 295px;
			background: linear-gradient(to bottom right, #d8fbf1 0%, #90e9cf 100%);
			position: relative;
			right: -300px;
			bottom: 290px;
			display: block;
			z-index: -1;
			transition: height 5.8s ease, width 5.8s ease;
		}
		&:hover{
			box-shadow: 5px 0 15px 7px rgba(130, 244, 211, 0.7);
		}
		&:hover:after{
			height: 100px;
			width: 50px;
			
		}
	}
}
.bnt__fall{
	position: relative;
	left: 6px;
}

.thought{
	background-color: #F8F8F8;
	padding: 95px 0;
	position: relative;
	&__text{
		text-align: center;
		padding: 0 150px;
	}
	&__autor{
		font-family: 'Poppins', Arial, serif;
		font-size: 17px;
		font-weight: 500;
		color: $color-text;
		margin-bottom: 0;
	}
	&__position{
		font-family: 'Poppins', Arial, serif;
		font-size: 17px;
		font-weight: 500;
		color: $accent;
		margin: 0;
	}
	&__aerrow{
		width: 100%;
		height: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 100px;
		position: absolute;
		transform: translateY(-500%);
		&__bnt-1,
		&__bnt-2{
			width: 120px;
			height: 30px;
			background-color: transparent;
			outline-style: none;
			cursor: pointer;
			border: none;
			
			.aerrow{
				width: 120px;
				height: 30px;
				stroke: #c6c6c6;
				stroke-width: 2;
				transition: stroke 1s ease;
			}

			&:hover .aerrow{
				stroke: $accent;
			}
		}
	}
}

.blog{
	&__title{
		margin-bottom: 15px;
		text-align: center;
	}
	&__about{
		display: flex;
		&__img{
			width: 50%;
			padding: 60px 70px 0 85px;
			img{
				background-color: #FFF;
				box-shadow: 5px 0 15px 5px rgba(0, 0, 0, 0.1);
				position: relative;
				transition: box-shadow 0.5s ease;
				&:hover{
					box-shadow: 5px 0 15px 7px rgba(130, 244, 211, 0.7);
				}
			}
			&:before{
				content: '';
				width: 285px;
				height: 375px;
				background-color: #FFF;
				border: 10px solid #f9f9f9;
				border-radius: 5px;
				position: absolute;
				top: 165px;
				left: 0;
				z-index: -1;
			}
			&:after{
				content: url(../img/blog_bg.jpg);
				width: 264px;
				height: 351px;
				position: relative;
				top: -205px;
				left: 322px;
				z-index: -1;
			}
		}
		&__text{
			width: 50%;
			padding-top: 45px;
			display: flex;
			flex-direction: column;
		}
	}
	&__choice{
		margin: 195px 0 185px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 72px;
		
		&-radio1,
		&-radio2,
		&-radio3{
			width: 17px;
			height: 17px;
			border-radius: 50%;
			margin: 0 9px;
		}
		&-radio1{
			background-color: #232323;
		}
		&-radio2{
			background-color: $accent;
		}
		&-radio3{
			background-color: #e1e1e1;
		}
		&-line {
			width: 65px;
			& span{
				content: '';
				height: 2px;
				width: 45px;
				background-color: #7f7f7f;
				margin: 0 9px;
				display: block;
			}
		}
		&-radio-big{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 6px solid $accent;
			margin: 0 9px;
		}
		&-number{
			font-family: 'Poppins', Arial, serif;
			font-size: 22px;
			font-weight: 300;
			color: #000;
			
			& span{
				margin: 0 8px;
			}
		}
		&-btn-left,
		&-btn-right{
			display: flex;
			justify-content: center;
			text-align: center;
			width: 28px;
			height: 72px;
			border: none;
			padding: 0;
			
			& .btn-left,
			& .btn-right{
				height: 20px;
				width: 11px;
				color: #c6c6c6;
				stroke: #c6c6c6;
				stroke-width: 2;
			}

			.icon-btn1{
				color: inherit;
				stroke: currentColor;
			}

			&:hover .icon-btn1{
				// stroke: $accent;
			}
			&:hover{
				color: green;
			};
		}
	}
}


footer{
	display: block;
	position: relative;
}
.footer{
	&__content{
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
		padding-top: 40px;
	}
	&__logo,
	&__menu,
	&__department{
		width: 16.6666%;
		position: relative;
		display: block;
	}
	&__menu{
		&__items{
			padding-left: 85px;
		}
		&__item{
			font-family: 'Myriad Pro', Arial, serif;
			font-size: 15px;
			line-height: 25px;
			color: $color-text;
			&:hover{
				color: $accent;
			}
		}
	}
	&__department{
		&__items{
			padding-left: 85px;
		}
		&__item{
			font-family: 'Myriad Pro', Arial, serif;
			font-size: 15px;
			line-height: 25px;
			color: $color-text;
			&:hover{
				color: $accent;
			}
		}
	}

	&__form{
		width: 50%;
		padding-left: 115px;
		& form{
			padding: 25px 0;
			& input{
				width: 305px;
				height: 48px;
				margin-right: 8px;
				box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
				border: none;
				padding-left: 32px;
				outline-style: none;
				transition: box-shadow 1s ease;
				&::placeholder{
					color: #DDD;
				}
				&:focus{
					box-shadow: 0 0 15px 5px rgba(130, 244, 211, 0.7);
				}
			}
		}
		&__text{
			font-weight: 400;
		}
	}
	&__text{
		width: 100%;
		height: 65px;
		font-family: 'Poppins', Arial, serif;
		font-size: 15px;
		font-weight: 300;
		line-height: 65px;
		text-align: right;
	}
	&__btn{
		box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
		&:after{
			display: none;
		}
	}
	&__sprite{
		display: flex;
	}

	&__soc__icon {
		margin: 0 9px 50px;
	}
	&__icon {
		width: 20px;
		height: 20px;
		fill: #bbb;
		fill-rule: evenodd;
		&:hover{
			fill: $accent;
		}
	}
}
